@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('BebasNeue-Regular.eot') format('eot'),
         url('BebasNeue-Regular.woff') format('woff'),
         url('BebasNeue-Regular.woff2') format('woff2'),
         url('BebasNeue-Regular.ttf') format('truetype'),
         url('BebasNeue-Regular.otf') format('opentype');
}

body
{
	background-color: #131b22;
	width: 1325px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	/*padding-left: 125px;*/
	/*padding-right: 125px;*/
	padding-top: 25px;
	display: flex;
}


nav ul
{
	list-style-type: none;
	display: flex;
	margin: auto;
}

nav a
{
	font-family: Arial;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
	padding-left: 100px;
	padding-right: 100px;
	transition: all 0.25s ease-out;
}

nav a:hover
{
	background-color:#0e161c;
}

.dropdownmenu
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.dropdownmenu ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
}

.dropdownmenu li
{
	position: relative;
}

.dropdownmenu a
{
	display: block;
	cursor: pointer;
	line-height: 80px;
}

.dropdownmenu li:hover ul
{
	display: block;
	position: absolute;
	background-color: #0e161c;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #0e161c;
}

.ul_real
{
	width: 313px;
}

.ul_real a:hover
{
	background-color: #0c1217;
}

.diyardi_logo
{
	font-size: 32px;
	text-decoration: none;
	color: white;
	font-family: 'BebasNeue-Regular', Arial;
	margin-right: 75px;
	margin-top: 20px;
}

#presentation
{
	margin: 20px;
}

iframe
{
	display: block;
	margin: auto;
	margin-top: 50px;
}

.apropos
{
	white-space: nowrap;
}

.contact
{
	text-align: right;
}

.diyardi_logo
{
	font-size: 32px;
	text-decoration: none;
	color: white;
	font-family: 'BebasNeue-Regular', Arial;
	margin-left: 50px;
}

.about_titre
{
	font-family: Arial;
	font-size: 24px;
	color: white;
	/*padding-left: 175px;*/
	padding-top: 45px;
}

.about
{
	font-family: Arial;
	font-size: 16px;
	color: white;
	/*margin: auto;
	width: 50%
	min-width: 100px;*/
}

.img_cv
{
	width: 215px;
	/*margin-left: 125px;*/
	display: block;
	/*padding-top: 30px;
	padding-left: 200px;*/
	float: left;
	padding-top: 20px;
}

.realisation
{
	font-family: Arial;
	color: white;

}

.realisation:hover
{
	color: #bdc7e5;
}

.aside_exp_pro
{
	float: left;
}

.aside_formation
{
	float: left;
}

#exp_pro
{
	width: 650px;
	padding: 15px;
	border: 1px white solid;
	float: left;
	font-family: Arial;
	color: white;
}

#formation
{
	width: 550px;
	padding: 15px;
	border: 1px white solid;
	float: right;
	font-family: Arial;
	color: white;
}

.p_exp_pro
{
	margin-left: 120px;
}

.p_formation
{
	margin-left: 120px;
}